/* =========================
   全体
   ========================= */

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    font-family: "M PLUS Rounded 1c", sans-serif;

    background-image: url("../morita/start.png");

    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;

    background-color: #fffdf5;
}

/* =========================
   安否確認画面
   ========================= */

.container {
    width: 90%;
    max-width: 600px;

    margin: 0 auto;

    padding: 50px 20px;

    text-align: center;
}


/* =========================
   タイトル
   ========================= */

.container h1 {
    font-family: "M PLUS Rounded 1c", sans-serif;

    font-size: 36px;
    font-weight: 700;

    color: #333;

    margin-top: 0;
    margin-bottom: 30px;
}


/* =========================
   説明文
   ========================= */

.container p {
    font-family: "M PLUS Rounded 1c", sans-serif;

    font-size: 22px;
    font-weight: 700;

    color: #555;

    margin-bottom: 35px;
}


/* =========================
   ボタン共通
   ========================= */

.menu-btn {
    display: block;

    width: 100%;
    max-width: 500px;

    min-height: 90px;

    margin: 20px auto;

    padding: 20px;

    font-family: "M PLUS Rounded 1c", sans-serif;

    font-size: 28px;
    font-weight: 700;

    color: white;

    border: none;
    border-radius: 20px;

    cursor: pointer;

    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.12);
}


/* =========================
   無事です
   ========================= */

.safety-btn {
    background-color: #16845b;
}

.safety-btn:active {
    transform: scale(0.97);
    background-color: #106b49;
}


/* =========================
   危険です
   ========================= */

.danger-btn {
    background-color: #d9534f;
}

.danger-btn:active {
    transform: scale(0.97);
    background-color: #b52b27;
}


/* =========================
   戻る
   ========================= */

.back-btn {
    background-color: #777;
}

.back-btn:active {
    transform: scale(0.97);
    background-color: #555;
}


/* =========================
   マウスを乗せたとき
   ========================= */

.safety-btn:hover {
    background-color: #14764f;
}

.danger-btn:hover {
    background-color: #c74743;
}

.back-btn:hover {
    background-color: #666;
}
